extends layout

block content
  h1 Eggs 
  p Logan Zoller eggs class server
  
  - let items = results

  div(class="container-fluid")
    div(class="row")
      each item in results
        - let destination = `dispatch("/egg/${item._id}/update")`
        div(class="row-sm-2", class="m-1")
          | Item: #{item.bird_type} (#{item.color}) is #{item.size}  
          button.btn(class="btn-primary ml-1", onclick=destination) Update

    script.
      function dispatch(path) {
        window.location.href=path
      }